.DS_Store
.ipynb_checkpoints/
__pycache__/
data/dolphot/
sbi-logs/
data/rsg*
examples/
.vscode/
PKG-INFO
*csv
*png
*pdf
*fits
*txt
*dat
*hdf5
*inp
*out
*eep
*iso
*cmd
*pkl
*.h5
*.p
*.pt
*.html
*mplstyle
att_mask.py
frbcat.ipynb
plots.ipynb
hack.ipynb
spec.ipynb
sbi.ipynb
inference.ipynb